
@{ 
    ViewBag.Title = "Về chúng tôi";
}
    <div class="skill-area ptb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="about-content mb-all-40">
                        <!-- Section Title Start -->
                        <div class="about-title">
                            <h3>Công ty TNHH xxx</h3>
                        </div>
                        <!-- Section Title End -->
                        <p class="mb-15">lorem</p>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia sequuntur magni dolores eos qui ratione em </p>
                        <a class="login-btn" href="@Url.Action("Index","Home")">Về trang chủ</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>