/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.error {
    color: #ff6d6d;
    
}
#errmsg {
    color: red;
}
.nice-select.wide {
    width: 100%;
}

.blue-bg {
    background: #2fa0ca;
}
.pro-cart {
    background: #208088 none repeat scroll 0 0;
}
.pro-cart:hover {
    background: #27909a;
}
.mean-container .mean-bar {
    background: #246066 none repeat scroll 0 0;
}

.cart-box .total-pro {
    background: #12292b none repeat scroll 0 0;
}

.black-bg {
    border: 1px solid #e6e6e6;
    background: #ffffff;
}

.footer-list li, .footer-list li a {
    color: #afafaf;
    font-size: 18px;
}

.ptb-60 {
    padding: 20px 0;
}

.hotrobanner {
    background-color: #d2d2d2
}