

<div class="col-md-6  order-3 order-md-2">
    <div class=" categorie-search-box">
        @using(Html.BeginForm("Index","Home",FormMethod.Get))
        {
            @Html.TextBox("SearchString")
            <button>
                <span class="ti-search"></span>
            </button>
        }
    </div>
</div>
